@media (min-width: 1100px){
	/*estilos del inicio*/
	.photo{
	flex-basis: 40%;
	}
	.img-fluid{
	width: 100%;
	vertical-align: middle;
	}
		
	/*estilos del curso, parte de aprende*/
	.container{
		margin: 0 auto;
		padding: 8px 0;
		width: 85%;
	}
	.curso{
	text-align: center;
	padding: 20px 0;
	}
	.iconos1{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 0px 10px;
	}
	.bailes1 li{
	flex-basis: 30%;
	}
	.iconos2{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 0px 30px;
	}
	.bailes2 li{
	flex-basis: 30%;
	} 
	.boton2{
		width: 130px;
		padding: 8px;
		font-size: 17px;
		font-weight: bold;
		color: white;
		background: #172D78;
		border-radius: 50px;
		margin: 2px auto;
		transition: all 0.5s;
		cursor: pointer;
	}

	/*estilos del texto del curso*/
	.titulo2{
		font-weight: bold;
		font-size: 45px;
		color: #1f3783;
		padding: 0px 0px 20px;
	}
	.texto1{
		font-size: 20px;
		color: #172D78;
		padding: 0px 0px 20px;
	}

	/*estilos de nosotros, parte quienes somos*/
	.container2{
	display: flex;
	align-items: center;
	background-color: #e674c9;
	}
	.titulo3{
		font-weight: bold;
		font-size: 45px;
		color:white;
		padding: 0 0 10px;
	}
	.textoQ{
		text-align: end;
		margin: 60px 0;
		margin-right: 40px;
		color: white;
	}
	.img-fluid2{
	width:58,1%;
	vertical-align: middle;
	}

	/*estilos de nosotros, parte descubre*/
	.container3{
	margin: 0 auto;
	width: 85%;
	}
	.descubre{
	text-align: center;
	padding: 20px 0;
	}
	.fundadoras{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 30px 0px 10px;
	}
	.titulo4{
		font-weight: bold;
		font-size: 45px;
		color: #1f3783;
		padding: 0px 0px 20px;
	}
	.texto3{
		font-size: 20px;
		color: #172D78;
		padding: 0px 0px 20px;
	}
	.nosotras{
		padding: 0px 0px 20px;
	}
	.nombre{
		font-size: 20px;
		color: #172D78;
	}

	/*estilos de parte hotmart*/
	.container4{
		display: flex;
		align-items: flex-end;
	}
	.titulo5{
		font-weight: bold;
		font-size: 45px;
		color: white;
		padding: 0px 0px 10px;
		margin: 20px 0 0;
	}
	.textoH{
		background: rgb(129,174,229);
		background: linear-gradient(0deg, rgba(129,174,229,1) 10%, rgba(118,166,230,1) 93%);
		height: 295.2px;
		color: white;
		text-align: start;
		padding: 0 60px;
	}
	.boton3{
		display: flex;
		align-items: center;
		margin: 20px 0;
		width: 140px;
		padding: 2px 5px;
		text-decoration: none;
		font-size: 17px;
		font-weight: bold;
		border: white .7px solid;
		border-radius: 50px;
		transition: all 0.5s;
		cursor: pointer;
	}

	/*estilos de contacto*/
	.contacto{
		background-color: #c36ec9;
		margin-top: 8px;
	}
	.container5{
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
		margin: 0 auto;
		width: 85%;
	}
	.redes{
		justify-content: center;
		padding: 50px 0;
	}
	.titulo6{
		font-weight: bold;
		font-size: 45px;
		color:white;
		padding: 10px 0 0px;
	}
	.textoC{
		padding: 0 0 10px;
		color: white;
		text-align: center;
	}
	.iconos3{
		display: flex;
		padding: 10px 0;
		justify-content: space-evenly;
	}
	.form{
		padding: 40px 0;
		font-family: Arial, Helvetica, sans-serif;
	}
	.cuadroE{
		width: 100%;
		margin: 5px 0;
		padding: 9px 5px;
		font-weight: normal;
	}
	.cuadroT{
		width: 100%;
		height: 55px;
		margin: 5px 0;
		padding: 4px 5px;
		font-weight: normal;
	}
	.boton4{
		width: 50%;
		padding: 8px;
		font-size: 17px;
		font-weight: bold;
		color: white;
		background: none;
		border: white .7px solid;
		border-radius: 50px;
		margin: 2px;
		transition: all 0.5s;
		cursor: pointer;
	}

	/*estilos footer*/
	footer{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: wrap;
		width: 100%;
		height: 60px;
		background-color: #1f3783;
		color:rgba(255, 255, 255, 0.8);
		font-size: 12px;
	}
	.logoF{
		margin: 0px 5px;
		opacity: 0.8;
	}
}

@media (min-width: 800px) and (max-width: 1099px) {
	/*estilos del inicio*/
	.photo{
	   flex-basis: 45%;
	}
	.img-fluid{
	   width: 100%;
	   vertical-align: middle;
	}
		
	/*estilos del curso, parte de aprende*/
	.container{
		margin: 0 auto;
		padding: 8px 0;
		width: 85%;
	}
	.curso{
	   text-align: center;
	   padding: 20px 0;
	}
	.iconos1{
	   display: flex;
	   flex-flow: row wrap;
	   justify-content: space-evenly;
	   align-items: center;
	   padding: 10px 0px 10px;
	}
	.bailes1 li{
	   flex-basis: 30%;
	}
	.iconos2{
	   display: flex;
	   flex-flow: row wrap;
	   justify-content: space-evenly;
	   align-items: center;
	   padding: 10px 0px 30px;
	}
	.bailes2 li{
	   flex-basis: 30%;
	} 
	.boton2{
		width: 130px;
		padding: 8px;
		font-size: 17px;
		font-weight: bold;
		color: white;
		background: #172D78;
		border-radius: 50px;
		margin: 2px auto;
		transition: all 0.5s;
		cursor: pointer;
	}
	
	/*estilos del texto del curso*/
	.titulo2{
		font-weight: bold;
		font-size: 40px;
		color: #1f3783;
		padding: 0px 0px 20px;
	}
	.texto1{
		font-size: 18px;
		color: #172D78;
		padding: 0px 0px 20px;
	}
	
	/*estilos de nosotros, parte quienes somos*/
	.container2{
	   display: flex;
	   flex-flow: row wrap;
	   align-items: center;
	   justify-content: center;
	   background-color: #e674c9;
	}
	.titulo3{
		font-weight: bold;
		font-size: 40px;
		color:white;
		padding: 0 0 8px;
	}
	.textoQ{
		text-align: center;
		margin: 12px auto 18px;
		color: white;
	}
	.texto2{
		margin: 0 40px;
	}
	.img-fluid2{
	   width:58,1%;
	   vertical-align: middle;
	}
	.photo{
		width: 100%;
	}
	
	/*estilos de nosotros, parte descubre*/
	.container3{
	   margin: 0 auto;
	   width: 85%;
	}
	.descubre{
	   text-align: center;
	   padding: 20px 0;
	}
	.fundadoras{
	   display: flex;
	   flex-flow: row wrap;
	   justify-content: space-evenly;
	   align-items: center;
	   padding: 30px 0px 10px;
	}
	.titulo4{
		font-weight: bold;
		font-size: 40px;
		color: #1f3783;
		padding: 0px 0px 20px;
	}
	.texto3{
		font-size: 20px;
		color: #172D78;
		padding: 0px 0px 20px;
	}
	.nosotras{
		padding: 0px 0px 20px;
	}
	.nombre{
		font-size: 20px;
		color: #172D78;
	}
	
	/*estilos de parte hotmart*/
	.container4{
		display: flex;
		flex-flow: column-reverse;
	}
	.titulo5{
		font-weight: bold;
		font-size: 40px;
		color: white;
		padding: 0px 0px 10px;
		margin: 20px 0 0;
	}
	.textoH{
		background: rgb(129,174,229);
		background: linear-gradient(0deg, rgba(129,174,229,1) 10%, rgba(118,166,230,1) 93%);
		color: white;
		display: space ;
		text-align: center;
		padding: 0 60px;
		align-self: flex-end;
	}
	.boton3{
		display: flex;
		align-items: center;
		margin: 15px auto;
		width: 140px;
		padding: 2px 5px;
		text-decoration: none;
		font-size: 17px;
		font-weight: bold;
		border: white .7px solid;
		border-radius: 50px;
		transition: all 0.5s;
		cursor: pointer;
	}
	.photoH{
		width: 100%;
	}

	/*estilos de contacto*/
	.contacto{
		background-color: #c36ec9;
		margin-top: 8px;
	}
	.container5{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 85%;
	}
	.redes{
		justify-content: center;
		padding: 50px 0;
		margin: 0 15px;
	}
	.titulo6{
		font-weight: bold;
		font-size: 40px;
		color:white;
		padding: 10px 0 0px;
	}
	.textoC{
		padding: 0 0 10px;
		color: white;
		text-align: center;
	}
	.iconos3{
		display: flex;
		padding: 10px 0;
		justify-content: space-evenly;
	}
	.form{
		padding: 40px 0;
		font-family: Arial, Helvetica, sans-serif;
	}
	.cuadroE{
		width: 100%;
		margin: 5px 0;
		padding: 9px 5px;
		font-weight: normal;
	}
	.cuadroT{
		width: 100%;
		height: 55px;
		margin: 5px 0;
		padding: 4px 5px;
		font-weight: normal;
	}
	.boton4{
		width: 50%;
		padding: 8px;
		font-size: 17px;
		font-weight: bold;
		color: white;
		background: none;
		border: white .7px solid;
		border-radius: 50px;
		margin: 2px;
		transition: all 0.5s;
		cursor: pointer;
	}
	
	/*estilos footer*/
	footer{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: wrap;
		width: 100%;
		height: 60px;
		background-color: #1f3783;
		color:rgba(255, 255, 255, 0.8);
		font-size: 12px;
	}
	.logoF{
		margin: 0px 5px;
		opacity: 0.8;
	}
}

@media (min-width: 300px) and (max-width: 799px) {
	/*estilos del inicio*/
	.photo{
	   flex-basis: 80%;
	}
	.img-fluid{
	   width: 100%;
	   vertical-align: middle;
	}
		
	/*estilos del curso, parte de aprende*/
	.container{
		margin: 0 auto;
		padding: 12px 0;
		width: 85%;
	}
	.curso{
	   text-align: center;
	}
	.iconos1{
	   display: flex;
	   flex-flow: row wrap;
	   justify-content: space-evenly;
	   align-items: center;
	   padding: 10px 0px 10px;
	}
	.bailes1 li{
	   flex-basis: 30%;
	}
	.iconos2{
	   display: flex;
	   flex-flow: row wrap;
	   justify-content: space-evenly;
	   align-items: center;
	   padding: 10px 0px 30px;
	}
	.bailes2 li{
	   flex-basis: 30%;
	} 
	.boton2{
		width: 130px;
		padding: 9px;
		font-size: 18px;
		font-weight: bold;
		color: white;
		background: #172D78;
		border-radius: 50px;
		margin: 2px auto;
		transition: all 0.5s;
		cursor: pointer;
	}
	
	/*estilos del texto del curso*/
	.titulo2{
		font-weight: bold;
		font-size: 35px;
		color: #1f3783;
		padding: 0px 0px 5px;
	}
	.texto1{
		font-size: 16px;
		color: #172D78;
		padding: 0px 0px 10px;
	}
	
	/*estilos de nosotros, parte quienes somos*/
	.container2{
	   display: flex;
	   flex-flow: row wrap;
	   align-items: center;
	   justify-content: center;
	   background-color: #e674c9;
	}
	.titulo3{
		font-weight: bold;
		font-size: 35px;
		color:white;
		padding: 0 0 8px;
	}
	.textoQ{
		text-align: center;
		margin: 12px auto 18px;
		color: white;
	}
	.texto2{
		margin: 0 30px;
	}
	.img-fluid2{
	   width:58,1%;
	   vertical-align: middle;
	}
	.photo{
		width: 100%;
	}
	
	/*estilos de nosotros, parte descubre*/
	.container3{
	   margin: 0 auto;
	   width: 85%;
	}
	.descubre{
	   text-align: center;
	   padding: 10px 0;
	}
	.fundadoras{
	   display: flex;
	   flex-flow: row wrap;
	   justify-content: space-evenly;
	   align-items: center;
	   padding: 0px 0px 10px;
	}
	.titulo4{
		font-weight: bold;
		font-size: 35px;
		color: #1f3783;
	}
	.texto3{
		font-size: 18px;
		color: #172D78;
		padding: 0px 0px 20px;
	}
	.nosotras{
		padding: 0px 0px 20px;
	}
	.nombre{
		font-size: 20px;
		color: #172D78;
	}
	
	/*estilos de parte hotmart*/
	.container4{
		display: flex;
		flex-flow: column-reverse;
	}
	.titulo5{
		font-weight: bold;
		font-size: 35px;
		color: white;
		padding: 0px 0px 10px;
		margin: 20px 0 0;
	}
	.textoH{
		background: rgb(129,174,229);
		background: linear-gradient(0deg, rgba(129,174,229,1) 10%, rgba(118,166,230,1) 93%);
		color: white;
		display: space ;
		text-align: center;
		padding: 0 30px;
		align-self: flex-end;
	}
	.boton3{
		display: flex;
		align-items: center;
		margin: 15px auto;
		width: 140px;
		padding: 2px 5px;
		text-decoration: none;
		font-size: 17px;
		font-weight: bold;
		border: white .7px solid;
		border-radius: 50px;
		transition: all 0.5s;
		cursor: pointer;
	}
	.photoH{
		width: 100%;
	}

	/*estilos de contacto*/
	.contacto{
		background-color: #c36ec9;
		margin-top: 8px;
	}
	.container5{
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		align-items: center;
		margin: 0 auto;
		padding: 10px 0;
		width: 85%;
	}
	.redes{
		justify-content: center;
		margin: 10px auto;
	}
	.titulo6{
		font-weight: bold;
		font-size: 35px;
		color: white;
		text-align: center;
		padding: 10px 0 0px;
	}
	.textoC{
		padding: 0 0 10px;
		color: white;
		text-align: center;
	}
	.iconos3{
		display: flex;
		padding: 10px 0;
		justify-content: space-evenly;
	}
	.form{
		margin: 0 auto 15px;
		font-family: Arial, Helvetica, sans-serif;
	}
	.cuadroE{
		width: 100%;
		margin: 5px 0;
		padding: 9px 0 9px 2px;
		font-weight: normal;
	}
	.cuadroT{
		width: 100%;
		height: 55px;
		margin: 5px 0;
		padding: 4px 0 4px 2px;
		font-weight: normal;
	}
	.boton4{
		width: 50%;
		padding: 8px;
		font-size: 17px;
		font-weight: bold;
		color: white;
		background: none;
		border: white .7px solid;
		border-radius: 50px;
		margin: 2px;
		transition: all 0.5s;
		cursor: pointer;
	}
	
	/*estilos footer*/
	footer{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: wrap;
		width: 100%;
		height: 60px;
		background-color: #1f3783;
		color:rgba(255, 255, 255, 0.8);
		font-size: 12px;
	}
	.logoF{
		margin: 0px 5px;
		opacity: 0.8;
	}
}