
*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
 }
 :root{
    --Text-color: #1f3783;
    --Pink-color: #e674c9;
    --Blue-color: #81aee5;
    --gradient:  linear-gradient(90deg, rgba(64,161,214,1) 20%, rgba(226,109,179,1) 89%);
}
 body {
     margin: 0px;
     font-family: raleway ;
 }
 /*estilos del header*/
 .header{
     background: var(--gradient);
 }
/*estilos del inicio*/
.inicio{
    background:var(--gradient)
}
.tituloI{
    font-weight: bold;
    line-height: 80px;
    font-size: 80px;
    opacity: 50%;
}
.boton1{
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.5s;
}